$color_soundcloud: #dc4303;
$color_rdio: #2d90ce;
$color_spotify: #8bc305;
$color_designersmx-red: #D73A14;

html {
  padding-top: 0;
  &.active {
	transition: padding 0.2s;
	padding-top: 48px !important;
  }
}

#xyz {
  transition: opacity 2s;
  padding: 1rem;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  text-align: center;
  background: black;
  color: white;
  z-index: 6;
  border-bottom: 1px solid $color_designersmx-red;
  & > button, & > a {
	padding: 0;
	line-height: 1;
	margin: 0 0.5rem;
  }
}


#btn_reset {
  color: #666;
}

.mix--preview {
  overflow: hidden;
  height: auto;
  opacity: 1;
  transition: all 0.2s;
}